@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_list-group";
@import "~bootstrap/scss/_modal";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_tooltip";
@import "~bootstrap/scss/_utilities";

.tc-scope {
  font-family: 'Roboto', 'Noto', sans-serif;
  .logo {
    position: relative;
    img {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 17px;
      height: 17px;
    }
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    .search-form {
      display: flex;
      .form-control {
        margin-right: 15px;
      }
    }
  }
}

.tc-modal-title {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 1.3rem;
}

.tc-modal-body {
  font-family: 'Roboto', 'Noto', sans-serif;
  display: flex;
  flex-direction: column;

  .search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-control {
      margin-right: 25px;
    }
  }
  .search-results{

    .header {
      margin-top: 25px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .results {
      list-style-type: none;
      padding: 8px 5px;
      margin-right: 85px;
      .item {
        width: 100%;
        padding: 5px 0px 5px 5px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.01);
        &:hover {
          background-color: rgba(0,0,0,0.05);
        }
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}
